/*** Importation de Boostrap **/
@import "./bootstrap";

/*** Début des styles personnalisés ***/


body.page-formulaire > header,
header > nav {
    height: 5.25rem;
}

main {
    min-height: calc(100vh - 5.25rem - 11.25rem);
}

footer {
    height: 11.25rem;
}

#carousel,
.carousel-inner
{
    height: 100vh;
}
